.navbar {
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    background-position: top left;
}

/* Tablet View */
@media (max-width: 1024px) {
    .navbar {
        background-image: url('../../assets/tablet/bg-pattern-header.svg');
    }
}

/* Mobile View */
@media (max-width: 640px) {
    .navbar {
        background-image: url('../../assets/mobile/bg-pattern-header.svg');
    }
}
